<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Your Chat</title>
</head>
<body>
    <p>Edit Your Chat <%= editChat._id %></p>
    <p>This Chat Was Sent From <b> <%= editChat.from %> </b> To <b> <%= editChat.to %> </b></p>

    <form method="POST" action="/chats/<%= editChat._id %>?_method=PUT">
        <textarea name="msg" rows="6" cols="50"> <%= editChat.msg %></textarea>
        <br><br>
        <button>Edit</button>
    </form>
</body>
</html>